.form-select.img-arrow {
  --bs-form-select-bg-img: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23adb5bd' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3E%3C/svg%3E")
}

.column {
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
  border-radius: .375rem;
  overflow: auto;
  width: 400px;
  height: 600px;
}

.column h2 {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.75rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
  margin-bottom: .5rem;
  z-index: 10;
  top: 0;
  position: sticky;
}

.no-cards {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
  text-align: center;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-100 {
  opacity: 100
}

.task-manager {
  max-width: 64rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.task-board {
  gap: 1rem;
  justify-content: space-between;
  max-width: 64rem;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.task-card {
  padding: 1.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  border-radius: .5rem;
  flex-direction: column;
  display: flex;
  margin-top: .5rem;
  margin-bottom: .5rem;
  position: relative;
}

.category,
.due-date {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
  font-weight: 600;
  font-size: .75rem;
  line-height: 1rem;
}

.close-button {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
  font-weight: 600;
  font-size: .75rem;
  line-height: 1rem;
  --tw-translate-y: -50%;
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  top: calc(50% - .5rem);
  right: 1rem;
  position: absolute;
  border: 0;
  background-color: transparent;
}

.gg-close {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 40px
}

.gg-close::after,
.gg-close::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 16px;
  height: 2px;
  background: currentColor;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 1px
}

.gg-close::after {
  transform: rotate(-45deg)
}