.form-select.img-arrow {
  --bs-form-select-bg-img: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23adb5bd' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3E%3C/svg%3E");
}

.column {
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
  border-radius: 0.375rem;
  overflow-y: auto;
  width: calc((60rem - 22px * 2) / 3);
  height: 600px;
  flex-shrink: 0;
}

.column h2 {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.75rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
  margin-bottom: 0.5rem;
  z-index: 10;
  top: 0;
  position: sticky;
}

.no-cards {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
  text-align: center;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-100 {
  opacity: 100;
}

.task-manager {
  max-width: 64rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.task-board {
  max-width: 64rem;
  overflow-x: auto;
  position: relative;
}

.drop-board {
  gap: 1rem;
  justify-content: space-between;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  --tw-bg-opacity: 1;
  background-color: rgb(250 250 250 / var(--tw-bg-opacity));
}

.task-card {
  padding: 1.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  border-radius: 0.5rem;
  flex-direction: column;
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  position: relative;
}

.category,
.due-date {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1rem;
}

.close-button,
.left-button,
.right-button {
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1rem;
  top: 50%;
  border: 0;
  background-color: transparent;
}

.close-button {
  position: absolute;
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
  right: 0;
  --tw-translate-y: -50%;
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y));
}

.left-button {
  position: sticky;
  left: 1rem;
  color: #1f9268;
}

.right-button {
  position: sticky;
  right: 1rem;
  color: #1f9268;
}
